<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Adminhome</title>-->
<!--</head>-->
{% extends 'adminhomeindex.html' %}
{% block body %}

<body>
<div align="center">
<!--  <table width="200" border="1">-->
<!--    <tr>-->
<!--      <td><div align="center"><a href="/viewusers">View Users</a></div></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><div align="center"><a href="/viewfeedbacks">View User feedbacks</a></div></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><div align="center"><a href="/sendNotification">Send Notifications</a></div></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><div align="center"><a href="/Managetips">Manage Tips</a></div></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td><div align="center"><a href="/logout">Logout</a></div></td>-->
<!--    </tr>-->
<!--  </table>-->
</div>
<div align="center"></div>
</body>
{% endblock %}
<!--</html>-->
